$side-menu: (
  bg: white,
  box-shadow: 1px 0 2px map-get($colors, 'mid-gray'),
  width: 70%,
  z-index: 10000,
  backdrop: rgba(black, 0.8)
);

// Scaffolding

.side-menu {
  position: fixed;
  background: white;
  top: 0;
  bottom: 0;
  right: 0;
  left: -#{map-get($side-menu, 'width')};
  width: map-get($side-menu, 'width');
  overflow: auto;
  z-index: map-get($side-menu, 'z-index');
  box-shadow: map-get($side-menu, 'box-shadow');
  will-change: transform;
}

.disable-scroll {
  overflow: hidden;
}

.content-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: map-get($side-menu, 'z-index') - 1;
  background-color: map-get($side-menu, 'backdrop');
  opacity: 0;
  visibility: hidden;
  will-change: opacity;
}
