@import 'reset';

$grid: (
  columns: 12,
  gutter: 1rem,
  margin: 2rem,
  breakpoints: (
    xs: default,
    sm: 576px 576px,
    md: 768px 768px,
    lg: 992px 980px,
    xl: 1280px 1024px,
    xxl: 1680px 1440px
  ),
  spacing: (
    none: 0,
    xxs: .25rem,
    xs: .5rem,
    sm: .75rem,
    md: 1rem,
    lg: 2rem,
    xl: 3rem,
    xxl: 5rem
  )
);

$type: (
  html: (13px, 15px, 150%),
  headers: (
    h1: (3.33rem, 110%, 0.6),
    h2: (2rem, 120%, 0.75),
    h3: (1.66rem, 130%, 0.8),
    h4: (1.33rem, 140%, 0.85),
    h5: (1.2rem, 160%, 0.9),
    h6: (1rem, 180%, 1)
  ),
  p: (1rem, 200%, 1em),
  small: 0.9em
);

$colors: (
  white: #ffffff,
  darkest: #242a31,
  dark: #2f3640,
  mid-dark: #6D6F89,
  mid: #9090b3,
  mid-light: #D9D9EA,
  light: #F0F0FA,
  lightest: #F6F6FD,
  blue: #002c7f,
  blue-light: #4854af,
  blue-dark: #000452,
  yellow: #f8e533,
  yellow-light: #ffff59,
  yellow-dark: #b6cc00,
  twitter: #1DA1F2
);

$depth-color: map-get($colors, 'darkest');

$depths: (
  none: none,
  xs: #{0 1px 2px 0 rgba($depth-color, 0.15),
        0 2px 6px 0 rgba($depth-color, 0.1)},
  sm: #{0 1px 3px 0 rgba($depth-color, 0.2),
        0 2px 8px 0 rgba($depth-color, 0.1)},
  md: #{0 1px 4px 0 rgba($depth-color, 0.3),
        0 3px 12px 0 rgba($depth-color, 0.1)},
  lg: #{0 8px 17px 0 rgba($depth-color, 0.2),
        0 6px 20px 0 rgba($depth-color, 0.19)},
  xl: #{0 12px 15px 0 rgba($depth-color, 0.3),
        0 17px 50px 0 rgba($depth-color, 0.2)}
);

@import 'mixins';
@import 'utils';

* {
  &::selection {
    @extend .color-white;
    @extend .bg-blue;
  }
}

html {
  font-family: 'Poppins', sans-serif;
  font-size: nth(map-get($type, 'html'), 1);
  line-height: nth(map-get($type, 'html'), 3);
  @extend .color-darkest;

  @include media-breakpoint-down('xs') {
    font-size: nth(map-get($type, 'html'), 2);
  }
}

body, main {
  display: flex;
  flex-direction: column;
}

main {
  min-height: 100vh;
}

a {
  text-decoration: none;
  &, &:visited, &:active { display: inline-block; color: inherit; }
}

i { @extend .font-style-italic; }
b { @extend .font-weight-bold; }
em { @extend .font-style-italic; }
strong { @extend .font-weight-bold; }
p { line-height: 150%; }
article > p { margin-bottom: 1em; }
small { font-size: .9em; }

@each $size, $value in map-get($type, 'headers') {
  $fontsize: nth($value, 1);
  $ratio: nth($value, 3);

  #{$size} {
    font-size: $fontsize;
    line-height: nth($value, 2);
    @extend .font-weight-bold;

    &:not(.margin-none) {
      margin-top: .5em;
      margin-bottom: .5em;
    }

    a { font-weight: inherit; }

    @include media-breakpoint-down('xs') {
      font-size: $fontsize * $ratio;
    }
  }
}

.text-skewed {
  transform: skewY(-2.5deg) scaleX(.98);
  letter-spacing: -0.02em;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-active-underline {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 3px;
    background-color: black;
    opacity: 0;
  }
  .active > &:before {
    opacity: 1;
  }
}

button {
  border: none;
  padding: 0 0 0 0;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
  font-size: 100%;
  font-family: inherit;
  font-style: inherit;
  font-weight: bold;
  &:focus { outline: 0; }
}

.button {
  display: inline-flex !important;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  position: relative;
  line-height: normal;
  transition: color .2s, background-color .2s, box-shadow .05s;

  &.align-left { justify-content: left; }
  &.align-right { justify-content: right; }
  &.rounded { @extend .rounded; }

  &:not(.inline) {
    display: flex;
    width: 100%;
    box-sizing: border-box;
  }

  &:disabled, &.disabled {
    cursor: auto !important;
  }
}

.section-skewed {
  position: relative;
  &:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: cover;
    transform: skewY(-2.5deg);
  }
}

.panel {
  display: flex;
  align-items: stretch;
  & > div {
    flex-grow: 1;
  }
}

@import 'grid';
@import 'inputs';
@import 'components';
@import 'routes';
