$gutter-compensation: map-get($grid, 'gutter') * .5 * -1;
$half-gutter-width: map-get($grid, 'gutter') * .5;

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.inline {
  display: inline-block;
}

.centered-flex {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}

.container, .container-fluid {
  margin-right: auto;
  margin-left: auto;
  @include media-breakpoint-up('md') {
    padding-right: map-get($grid, 'margin');
    padding-left: map-get($grid, 'margin');
  }
}

.row, .row-fluid, .row-fullwidth {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.row {
  margin-right: $gutter-compensation;
  margin-left: $gutter-compensation;
}

.row-fullwidth {
  width: 100%;
}

.row.reverse {
  flex-direction: row-reverse;
}

.col.reverse {
  flex-direction: column-reverse;
}

.no-wrap {
  flex-wrap: nowrap !important;
}

@mixin flexboxgrid-sass-col-common {
  box-sizing: border-box;
  flex-grow: 0;
  flex-shrink: 0;
  &:not(.panel) {
    padding-right: $half-gutter-width;
    padding-left: $half-gutter-width;
  }
}

@each $value in map-get($grid, 'breakpoints') {
  $name: nth($value, 1);
  $breakpoint: nth($value, 2);

  @if index(map-keys(map-get($grid, 'breakpoints')), $name) == 1 {

    .container {
      width: calc(100vw - #{map-get($grid, 'gutter') * 2});
      @include media-breakpoint-up('md') {
        width: calc(100vw - (#{map-get($grid, 'margin') * 2}));
      }
    }
    .col.#{$name} {
      @include flexboxgrid-sass-col-common;
      flex-basis: auto;
    }
    @for $i from 1 through map-get($grid, 'columns') {
      .col.#{$name}#{$i} {
        @include flexboxgrid-sass-col-common;
        flex-basis: 100% / map-get($grid, 'columns') * $i;
        max-width: 100% / map-get($grid, 'columns') * $i;
        &.abs-width {
          width: 100% / map-get($grid, 'columns') * $i;
        }
      }
    }
    @for $i from 0 through map-get($grid, 'columns') {
      .col.offset-#{$name}#{$i} {
        @include flexboxgrid-sass-col-common;
        @if $i == 0 {
          margin-left: 0;
        } @else {
          margin-left: 100% / map-get($grid, 'columns') * $i;
        }
      }
    }
    .col.#{$name} {
      flex-basis: 0;
      max-width: 100%;
      &.abs-width {
        width: 100%;
      }
      &:not(.inline) {
        flex-grow: 1;
      }
      &:not(.margin-left-none) {
        margin-left: map-get($grid, 'gutter') / 2;
      }
      &:not(.margin-right-none) {
        margin-right: map-get($grid, 'gutter') / 2;
      }
    }
    .start-#{$name} {
      justify-content: flex-start;
      text-align: start;
    }

    .center-#{$name} {
      justify-content: center;
      text-align: center;
    }

    .end-#{$name} {
      justify-content: flex-end;
      text-align: end;
    }

    .top-#{$name} {
      align-items: flex-start;
    }

    .middle-#{$name} {
      align-items: center;
    }

    .bottom-#{$name} {
      align-items: flex-end;
    }

    .stretch-#{$name} {
      align-items: stretch;
    }

    .around-#{$name} {
      justify-content: space-around;
    }

    .between-#{$name} {
      justify-content: space-between;
    }

    .first-#{$name} {
      order: -1;
    }

    .last-#{$name} {
      order: 1;
    }

  } @else {

    $size: nth($breakpoint, 1);
    $container: nth($breakpoint, 2);

    @include media-breakpoint-up($name) {
      .container {
        max-width: $container;
      }

      .col.#{$name} {
        @include flexboxgrid-sass-col-common;
        flex-basis: auto;
      }
      @for $i from 1 through map-get($grid, 'columns') {
        .col.#{$name}#{$i} {
          @include flexboxgrid-sass-col-common;
          flex-basis: 100% / map-get($grid, 'columns') * $i;
          max-width: 100% / map-get($grid, 'columns') * $i;
          &.abs-width {
            width: 100% / map-get($grid, 'columns') * $i;
          }
        }
      }
      @for $i from 0 through map-get($grid, 'columns') {
        .col.offset-#{$name}#{$i} {
          @include flexboxgrid-sass-col-common;
          @if $i == 0 {
            margin-left: 0;
          } @else {
            margin-left: 100% / map-get($grid, 'columns') * $i;
          }
        }
      }
      .col.#{$name} {
        flex-grow: 1;
        flex-basis: 0;
        max-width: 100%;
        &.abs-width {
          width: 100%;
        }
      }
      .start-#{$name} {
        justify-content: flex-start;
        text-align: start;
      }

      .center-#{$name} {
        justify-content: center;
        text-align: center;
      }

      .end-#{$name} {
        justify-content: flex-end;
        text-align: end;
      }

      .top-#{$name} {
        align-items: flex-start;
      }

      .middle-#{$name} {
        align-items: center;
      }

      .bottom-#{$name} {
        align-items: flex-end;
      }

      .stretch-#{$name} {
        align-items: stretch;
      }

      .around-#{$name} {
        justify-content: space-around;
      }

      .between-#{$name} {
        justify-content: space-between;
      }

      .first-#{$name} {
        order: -1;
      }

      .last-#{$name} {
        order: 1;
      }
    }
  }
}

@each $name, $value in map-get($grid, 'breakpoints') {
  .hide-#{$name} {
    @include media-breakpoint-only($name) {
      display: none !important;
    }
  }

  .hide-#{$name}-up {
    @include media-breakpoint-up($name) {
      display: none !important;
    }
  }
  .hide-#{$name}-down {
    @include media-breakpoint-down($name) {
      display: none !important;
    }
  }
}
