.font-weight-normal { font-weight: 300; }
.font-weight-bold { font-weight: 700; }
.font-weight-bolder { font-weight: 900; }
.font-style-italic { font-style: italic; }

.rounded { border-radius: .25rem; }
.rounded\:lg { border-radius: .5rem; }

.align-left { text-align: left; }
.align-right { text-align: right; }
.align-center { text-align: center; }
.float-left { float: left !important; }
.float-right { float: right !important; }

@each $name, $depth in $depths {
  .border-#{$name}, .border-hover-#{$name}:hover:not(:disabled), .border-disabled-#{$name}:disabled {
    box-shadow: $depth !important;
  }
}

@each $name, $hex in $colors {
  .color-#{$name} { color: $hex !important; }
  .color-hover-#{$name}:hover:not(:disabled) { color: $hex !important; }
  .color-active-#{$name}.active:not(:disabled) { color: $hex !important; }
  .color-disabled-#{$name}:disabled { color: $hex !important; }
  input[type="radio"]:not(:disabled):checked~.color-checked-#{$name} { color: $hex !important;  }
  .bg-#{$name} { background-color: $hex !important; }
  .bg-hover-#{$name}:hover:not(:disabled) { background-color: $hex !important; }
  .bg-active-#{$name}.active:not(:disabled) { background-color: $hex !important; }
  .bg-disabled-#{$name}:disabled { background-color: $hex !important; }
  input[type="radio"]:not(:disabled):checked~.bg-checked-#{$name} { background-color: $hex !important; }

  .border-#{$name},
  .border-hover-#{$name}:hover:not(:disabled),
  .border-disabled-#{$name}:disabled,
  input[type="radio"]:disabled~.border-disabled-#{$name},
  input[type="radio"]:not(:disabled):checked~.border-checked-#{$name} {
    box-shadow: 0 0 0 1px rgba($hex, 1) !important;
  }

  @each $dname, $depth in $depths {
    .border-#{$name}-#{$dname},
    .border-hover-#{$name}-#{$dname}:hover:not(:disabled),
    .border-disabled-#{$name}-#{$dname}:disabled,
    input[type="radio"]:disabled~.border-disabled-#{$name}-#{$dname},
    input[type="radio"]:not(:disabled):checked~.border-checked-#{$name}-#{$dname} {
      box-shadow: #{0 0 0 1px rgba($hex, 1), $depth} !important;
    }
  }
}

$spacing-ratio: 1.5;

@each $name, $spacing in map-get($grid, 'spacing') {
  .margin-#{$name} {
    margin: $spacing;
  }

  .padding-#{$name} {
    padding: $spacing #{$spacing * $spacing-ratio};
    &.padding-equal {
      padding-left: $spacing;
      padding-right: $spacing;
    }
  }

  @each $side in ('top', 'right', 'left', 'bottom') {
    .margin-#{$side}-#{$name} {
      padding-#{$side}: $spacing !important;
    }

    .padding-#{$side}-#{$name} {
      @if $side == 'right' or $side == 'left' {
        padding-#{$side}: #{$spacing * $spacing-ratio} !important;
        &.padding-equal {
          padding-#{$side}: $spacing !important;
        }
      } @else {
        padding-#{$side}: $spacing !important;
      }
    }
  }
}
