<section class="section:social-wall">
  <div class="container">
    <div class="row">
      <div class="col xs12">
        <div class="flex middle-xs">
          {{svg-jar 'twitter' height="2rem" width="2rem" class='margin-right-xxs color-twitter'}}
          <h3>Social Wall</h3>
        </div>

        <h6>No posts available</h6>

        <a
          href={{href-to 'page' 'about'}}
          class="
          button inline rounded
          padding-sm font-weight-bold
          color-white color-hover-darkest bg-blue-light bg-hover-yellow
          border-yellow border-hover-yellow-light-md
        ">
          LOAD MORE
        </a>
      </div>
    </div>
  </div>
</section>
