.page\:all-stars {
  [class^="section"] {
    padding-top: map-get(map-get($grid, spacing), lg);
    padding-bottom: map-get(map-get($grid, spacing), lg);

    @include media-breakpoint-up('md') {
      padding-top: map-get(map-get($grid, spacing), xxl);
      padding-bottom: map-get(map-get($grid, spacing), xxl);
    }
  }
  .section\:info {
    @extend .section-skewed;
    @extend .color-white;
    &:before {
      @extend .bg-blue;
    }
  }
  .section\:fixtures {
    @extend .section-skewed;
    &:before {
      @extend .bg-white;
    }
  }
}
