{{set-body-class 'page:all-stars bg-yellow color-blue'}}

<header>
  <div class="container padding-top-xxl padding-bottom-xxl">
    <div class="row">
      <div class="col xs12 md3 first-xs last-md">
        &mdash;
      </div>
      <div class="col xs12 md9">
        <h4 class="text-skewed">{{model.frontmatter.pretitle}}</h4>
        <h1 class="title text-skewed font-weight-bolder text-uppercase padding-bottom-xl">
          <span>{{svg-jar 'star-o' height='0.8em'}}{{svg-jar 'star-o' height='0.8em'}}{{svg-jar 'star-o' height='0.8em'}}</span>
          <br />
          <span>{{model.frontmatter.title}}</span>
        </h1>
        <LastMatch />
      </div>
    </div>
  </div>
</header>

<section class="section:info">
  <div class="container">
    <div class="row">
      <div class="col xs12 md6">
        <div class="flex middle-xs margin-bottom-sm">
          {{svg-jar 'football' height="4rem" width="4rem" class='margin-right-md'}}
          <h3>Playing football and raising money for great causes.</h3>
        </div>
        <article>
          <p>In viverra pulvinar efficitur. Proin non eros nibh. Vivamus aliquam lorem non urna ultricies cursus. Quisque risus magna, tincidunt ut venenatis nec, viverra et libero. Nulla gravida lorem in scelerisque ornare. Pellentesque a maximus justo. Aenean accumsan, nulla ut dapibus rhoncus, arcu arcu dictum nulla, sit amet imperdiet augue risus a eros. Donec efficitur, mauris et varius auctor, tellus mauris luctus ex, ac hendrerit ante sapien sed leo. Etiam sed interdum felis. Quisque et neque eleifend, pharetra odio ut, rutrum ipsum. Mauris maximus, odio id elementum porttitor, elit sem commodo dolor, tempus rhoncus sapien urna et lacus. Aenean rhoncus velit tempus mauris auctor, at feugiat metus malesuada. Curabitur vitae risus nec eros aliquet vulputate sed vel elit.</p>
          <p>Mauris justo erat, consequat eget pretium vitae, bibendum sed mauris. Maecenas eget arcu posuere, rutrum ante feugiat, iaculis lectus. Suspendisse in iaculis dui. Pellentesque et dapibus nisl. Cras non cursus justo. Nunc dictum, turpis a consequat dignissim, nibh ex facilisis tellus, eu convallis lectus ante et est. Curabitur vitae purus vel sem mollis lobortis nec ut lorem. Sed feugiat neque quis dui ullamcorper sodales. Morbi a nibh metus. Suspendisse sagittis magna et velit volutpat, quis auctor urna mollis. Nullam lacinia quis ex in aliquam.</p>
        </article>
      </div>
    </div>
  </div>
</section>

<Fixtures />
