<header>
  <div class="container center-xs padding-top-md">
    <div class="row">
      <div class="col xs12">
        <h1>
          {{title}}
        </h1>
      </div>
    </div>
  </div>
</header>

<section>
  <div class="container">
    <div class="row">
      <div class="col xs12">
        {{#each model.articles as | article |}}
          <li class="panel col xs12 margin-top-md margin-bottom-md">
            <div class="rounded border-hover-md padding-md">
              <a href={{href-to 'articles.item' article.slug}}>
                <div class="flex">
                  <div class="padding-left-md padding-right-md">
                    <aside style="height: 150px; width: 150px; background-color: #F0F0FA"></aside>
                  </div>
                  <div>
                    <h4>{{article.title}}</h4>
                    <div class="margin-bottom-md">
                      <span>Posted {{moment-from-now article.publishedAt}}</span>
                    </div>
                    {{#if article.excerpt}}
                      <p>
                        {{line-clamp text=article.excerpt lines=2}}
                      </p>
                    {{/if}}
                    <a href={{href-to 'articles.item' article.slug}} class="color-mid margin-top-sm margin-bottom-sm">
                      Read more...
                    </a>
                  </div>
                </div>

              </a>

            </div>
          </li>
        {{/each}}
      </div>
    </div>
  </div>
</section>
