<!DOCTYPE html>
<html>
  <head>
    {{content-for "head"}}

    <link rel="stylesheet" href="{{rootURL}}assets/vendor.css">
    <link rel="stylesheet" href="{{rootURL}}assets/bcfc-legends.css">

    {{content-for "head-footer"}}
  </head>
  <body>
    {{content-for "body"}}

    <script src="{{rootURL}}assets/vendor.js"></script>
    <script src="{{rootURL}}assets/bcfc-legends.js"></script>

    {{content-for "body-footer"}}
  </body>
</html>
