[class^="footer"] {
  padding-top: map-get(map-get($grid, spacing), lg);
  padding-bottom: map-get(map-get($grid, spacing), lg);

  @include media-breakpoint-up('md') {
    padding-top: map-get(map-get($grid, spacing), xxl);
    padding-bottom: map-get(map-get($grid, spacing), xxl);
  }

  ul {
    @extend .margin-bottom-md;
    li {
      a {
        @extend .padding-xs;
        @extend .color-mid-dark;
        &:hover:not(.active) {
          @extend .color-blue-light;
        }
        &.active {
          @extend .color-darkest;
        }
      }
      &:first-of-type a {
        @extend .padding-left-none;
      }
    }
  }
}
