<footer class="footer:main" ...attributes>
  <div class="container">
    <div class="row">
      <div class="col xs12">
        <ul class="flex middle-xs start-xs">
          {{#with (array
            (hash label="About" href=(href-to 'page' 'about') active=(href-active 'page' 'about'))
            (hash label="All Stars" href=(href-to 'page' 'all-stars') active=(href-active 'page' 'all-stars'))
            (hash label="Articles" href=(href-to 'articles') active=(href-active 'articles'))
            (hash label="Events" href=(href-to 'events') active=(href-active 'events'))
            (hash label="Contact" href=(href-to 'page' 'contact') active=(href-active 'page' 'contact'))
          ) as | items |}}
            {{#each items as | item |}}
              <li>
                <a
                  href={{item.href}}
                  class="
                  {{if item.active 'active'}}
                ">
                  <span class="text-active-underline">
                    {{item.label}}
                  </span>
                </a>
              </li>
            {{/each}}
          {{/with}}
        </ul>
        <div>
          <small>
            &copy; {{year}} &mdash; Birmingham City Former Players' Association
          </small>
        </div>
      </div>
    </div>
  </div>
</footer>
