<header>
  <div class="container padding-top-xl padding-bottom-xl">
    <div class="row">
      <div class="col xs12">
        <h5 class="color-mid">
          Article
        </h5>
        <h1>
          {{model.title}}
        </h1>
        <span class="color-mid">
          Published {{moment-from-now model.publishedAt}} &mdash; By Will Viles
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col xs12 md10 offset-md1 lg8 offset-lg2 padding-top-lg">
        <h3>
          {{model.excerpt}}
        </h3>
      </div>
    </div>
  </div>
</header>

<section>
  <div class="container padding-bottom-xxl">
    <div class="col xs12 md10 offset-md1 lg8 offset-lg2">
      <article>
        <aside style="height: 380px; display: block; background-color: #F0F0FA"></aside>
        <br /><br />
        <Showdown @markdown={{model.content}} />
      </article>
    </div>
  </div>
</section>
