{{set-body-class 'page:contact bg-blue color-white'}}

<header>
  <div class="container center-xs padding-top-md">
    <div class="row">
      <div class="col xs12">
        <h1>
          {{model.frontmatter.title}}
        </h1>
      </div>
    </div>
  </div>
</header>

<section>
  <div class="container">
    <div class="col xs12 align-center">
      <article class="padding-top-xxl">
        <h2 class="color-mid">Contact form here</h2>
      </article>
    </div>
  </div>
</section>
