.page\:about {
  [class^="section"] {
    padding-top: map-get(map-get($grid, spacing), lg);
    padding-bottom: map-get(map-get($grid, spacing), lg);

    @include media-breakpoint-up('md') {
      padding-top: map-get(map-get($grid, spacing), xxl);
      padding-bottom: map-get(map-get($grid, spacing), xxl);
    }
  }
  .section\:committee {
    @extend .section-skewed;
    &:before {
      @extend .bg-light;
    }
  }
}
