{{set-body-class 'page:about'}}

<header>
  <div class="container padding-top-xl padding-bottom-xl">
    <div class="col xs12">
      <h1>
        {{model.frontmatter.title}}
      </h1>
      <h4 class="color-mid">
        By Tom Ross
      </h4>
    </div>
  </div>
</header>

<section>
  <div class="container padding-bottom-xxl">
    <div class="col xs12 md10 offset-md1 lg8 offset-lg2">
      <article>
        <aside style="height: 380px; display: block; background-color: #F0F0FA"></aside>
        <br /><br />
        <Showdown @markdown={{model.content}} />
      </article>
    </div>
  </div>
</section>

<Committee @members={{model.frontmatter.members}} />
