{{!--
  Add content you wish automatically added to the documents head
  here. The 'model' available in this template can be populated by
  setting values on the 'head-data' service.
--}}

<title>{{model.title}}</title>

<meta name="description" content={{model.description}} />
<meta name="keywords" content={{model.keywords}} />
<meta name="copyright" content={{model.copyright}} />

{{#if model.author}}
  <meta name="author" content={{model.author}} />
{{/if}}

<meta property="og:type" content="website" />
<meta property="og:title" content={{model.title}} />
<meta property="og:description" content={{model.description}} />
<meta property="og:image" content={{model.image}} />
<meta property="og:url" content={{model.url}} />

<meta name="apple-mobile-web-app-title" content="{{model.appName}}">
<meta name="application-name" content="{{model.appName}}">

{{#if model.favicon}}
  <link rel="shortcut icon" type="image/x-icon" href="{{model.favicon}}.ico">
  <link rel="icon" type="image/png" href="{{model.favicon}}-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="{{model.favicon}}-16x16.png" sizes="16x16" />
{{/if}}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
