[class^="navbar"] {
  position: relative;
  ul li a {
    @extend .padding-xs;
    @extend .color-mid-dark;
    font-size: 1.1em;
    &:hover:not(.active) {
      @extend .color-blue-light;
    }
    &.active {
      @extend .color-darkest;
    }
  }
  .logo {
    path { fill: map-get($colors, blue); }
    &:hover path { fill: map-get($colors, blue-light); }
  }
  .menu {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    & > button {
      align-items: stretch;
    }
  }
}

.navbar\:home {
  @include media-breakpoint-up('md') {
    margin-top: map-get(map-get($grid, spacing), lg)
  }
  ul li a {
    @include media-breakpoint-up('sm') {
      .logo {
        padding-top: map-get(map-get($grid, spacing), md);
        padding-bottom: map-get(map-get($grid, spacing), md);
      }
    }

    &:hover {
      @extend .color-blue-light;
    }
  }
}

.navbar\:main {
  @include media-breakpoint-up('md') {
    .logo {
      padding-top: map-get(map-get($grid, spacing), md);
      padding-bottom: map-get(map-get($grid, spacing), md);
    }
  }
}

.page\:all-stars {
  .navbar\:main {
    ul li a {
      @extend .color-blue-light;
      &:hover:not(.active) {
        @extend .color-darkest;
      }
      &.active {
        @extend .color-darkest;
      }
    }
    .logo {
      path { fill: map-get($colors, blue); }
      &:hover path { fill: map-get($colors, blue-light); }
    }
  }
}

.page\:contact {
  .navbar\:main {
    ul li a {
      @extend .color-mid;
      &:hover:not(.active) {
        @extend .color-light;
      }
      &.active {
        @extend .color-white;
      }
      .text-active-underline:before {
        background-color: map-get($colors, yellow);
      }
    }
    .logo {
      path { fill: map-get($colors, white); }
      &:hover path { fill: map-get($colors, mid-light); }
    }
  }
}
