{{#unless isHidden}}
  <nav class={{concat 'navbar:' @name}} ...attributes>
    <div class="container">
      <div class="row middle-xs">
        <div style="flex-grow: 1;">
          <ul class="row middle-xs start-md center-xs">
            <li>
              <a href={{href-to 'home'}} class="logo">
                {{svg-jar 'bcfc' height=logoHeight}}
                {{svg-jar 'logo' height=logoHeight}}
              </a>
            </li>
          </ul>
        </div>
        <div class="hide-sm-down" style="flex-grow: 2;">
          <ul class="flex middle-xs end-xs">
            <li>
              <a
                href="https://twitter.com"
                target="_blank"
              >
                <span>
                  {{svg-jar 'twitter' width='1.33em' height='1.33em' class="color-hover-twitter"}}
                </span>
              </a>
            </li>
            {{#with (array
              (hash label="About" href=(href-to 'page' 'about') active=(href-active 'page' 'about'))
              (hash label="All Stars" href=(href-to 'page' 'all-stars') active=(href-active 'page' 'all-stars'))
              (hash label="Articles" href=(href-to 'articles') active=(href-active 'articles'))
              (hash label="Events" href=(href-to 'events') active=(href-active 'events'))
              (hash label="Contact" href=(href-to 'page' 'contact') active=(href-active 'page' 'contact'))
            ) as | items |}}
              {{#each items as | item |}}
                <li>
                  <a
                    href={{item.href}}
                    class="
                    font-weight-bold text-skewed
                    {{if item.active 'active'}}
                  ">
                    <span class="text-active-underline text-uppercase">
                      {{item.label}}
                    </span>
                  </a>
                </li>
              {{/each}}
            {{/with}}
          </ul>
        </div>
      </div>

      <div class="menu hide-md-up">
        <button
          {{action 'toggleSideMenu'}}
          class="padding-right-md padding-left-md"
        >
          {{svg-jar 'bars' width='1.2em' height='1.2em'}}
        </button>
      </div>

    </div>
  </nav>
{{/unless}}
