{{#if members}}
  <section class="section:committee">
    <div class="container">
      <div class="col xs12">
        <h3>Committee</h3>
        <ul class="row">
          {{#each members as | member |}}
            <li class="col xs12 md">
              <div class="rounded:lg">
                <div>
                  <aside style="height: 75px; width: 75px; background-color: #FFF" class="rounded:lg"></aside>
                </div>
                <h4>{{member.name}}</h4>
                <p>{{member.bio}}</p>
              </div>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </section>
{{/if}}
