<header>
  <div class="container center-xs padding-top-md">
    <div class="row">
      <div class="col xs12">
        <h1>
          {{title}}
        </h1>
      </div>
    </div>
    <div class="row margin-bottom-xl">
      {{#each timeframes as | option |}}
        <div class="col xs">
          <label>
            <input type="radio" checked={{eq timeframe option}} onclick={{action (mut timeframe) option}} >
            <div class="
              button rounded:lg
              padding-sm
              color-mid color-hover-blue color-checked-white bg-checked-blue
              border-mid-light border-hover-mid-md border-checked-blue-light
              font-weight-bold
            ">
              <span>{{capitalize option}} Events</span>
            </div>
          </label>
        </div>
      {{/each}}
    </div>
  </div>
</header>

<section>
  <div class="container">
    <div class="row">
      <div class="col xs12 md10 offset-md1">
        <ul class="row">
          {{#each events as | event |}}
            <li class="panel col xs12 margin-top-md margin-bottom-md">
              <div class="rounded border-hover-md padding-md">
                <a href={{href-to 'events.item' event.slug}}>
                  <div class="flex">
                    {{#if event.startAt}}
                      <aside class="date flex rounded bg-light color-blue stretch-xs" style="height: 75px; width: 75px; flex-basis: 75px; flex-direction: column; justify-content: center;">
                        <div class="align-center">
                          <h3 class="margin-none">{{moment-format event.startAt 'DD'}}</h3>
                        </div>
                        <div class="align-center">{{moment-format event.startAt 'MMM'}}</div>
                      </aside>
                    {{/if}}
                    <div class="padding-left-md padding-right-md">
                      <aside style="height: 150px; width: 150px; background-color: #F0F0FA"></aside>
                    </div>
                    <div>
                      <h4>{{event.title}}</h4>
                      {{#if event.excerpt}}
                        <p>
                          {{line-clamp text=event.excerpt lines=2}}
                        </p>
                      {{/if}}
                      <a href={{href-to 'events.item' event.slug}} class="color-mid margin-top-sm margin-bottom-sm">
                        More details...
                      </a>
                    </div>
                  </div>

                </a>

              </div>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</section>
