.route\:home {
  header {
    .title {
      span {
        font-size: 1.66em;
        line-height: 95%;
      }
    }
  }

  [class^="section"] {
    padding-top: map-get(map-get($grid, spacing), lg);
    padding-bottom: map-get(map-get($grid, spacing), lg);

    @include media-breakpoint-up('md') {
      padding-top: map-get(map-get($grid, spacing), xxl);
      padding-bottom: map-get(map-get($grid, spacing), xxl);
    }
  }

  .section\:links {
    @extend .section-skewed;
    &:before {
      background-color: map-get($colors, light);
    }
  }

  .section\:latest-articles {}

  .section\:events {
    @extend .section-skewed;
    @extend .color-white;
    &:before {
      background-color: map-get($colors, blue);
    }
  }

  .section\:social-wall {

  }
}
