<header>
  <Navbar
    @name="home"
    @canHide={{false}}
    @logoHeight="60px"
  />

  <div class="container padding-top-xxl padding-bottom-xxl">
    <div class="row">
      <div class="col xs12 md3 first-xs last-md">
        &mdash;
      </div>
      <div class="col xs12 md9">
        <h4 class="text-skewed">Welcome to</h4>
        <h1 class="title text-skewed font-weight-bolder text-uppercase padding-bottom-xl">
          <span>{{title}}</span>
        </h1>
      </div>
    </div>
  </div>
</header>

<section class="section:links">
  <div class="container">
    <div class="row">
      <div class="col xs12 md6">
        <div class="row">
          <div class="col xs12 md" style="flex-grow: 0;">
            <aside style="height: 75px; width: 75px; margin-right: 1rem; background-color: #FFFFFF"></aside>
          </div>
          <div class="col xs12 md">
            <div class="flex middle-xs">
              {{svg-jar 'bcfc-o' height="2rem" width="2rem" class='margin-right-xxs'}}
              <h5>About</h5>
            </div>

            <h2>
              Building a bridge between the club, the supporters and its history.
            </h2>
            <a
              href={{href-to 'page' 'about'}}
              class="
              button inline rounded
              padding-sm font-weight-bold
              color-white color-hover-darkest bg-blue-light bg-hover-yellow
              border-yellow border-hover-yellow-light-md
            ">
              ABOUT US
            </a>
          </div>
        </div>
      </div>

      <div class="col xs12 md6">
        <div class="row">
          <div class="col xs12 md" style="flex-grow: 0;">
            <aside style="height: 75px; width: 75px; margin-right: 1rem; background-color: #FFFFFF"></aside>
          </div>
          <div class="col xs12 md">
            <div class="flex middle-xs">
              {{svg-jar 'star-o' height="2rem" width="2rem" class='margin-right-xxs'}}
              <h5>All Stars</h5>
            </div>

            <h2>
              Playing football and raising money for great causes.
            </h2>
            <a
              href={{href-to 'page' 'all-stars'}}
              class="
              button inline rounded
              padding-sm font-weight-bold
              color-white color-hover-darkest bg-blue-light bg-hover-yellow
              border-yellow border-hover-yellow-light-md
            ">
              FIND OUT MORE
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<LatestArticles />
<UpcomingEvents />
<SocialWall />
