{{#if events}}
  <section class="section:fixtures">
    <div class="container">
      <div class="row">
        <div class="col xs12">
          <div class="flex middle-xs">
            {{svg-jar 'calendar' height="2rem" width="2rem" class='margin-right-xs fill-white'}}
            <h3>Fixtures</h3>
          </div>
          <ul class="row">
            {{#each events as | event |}}
              <li class="panel col xs12 md margin-bottom-lg">
                <div class="rounded border-hover-lg padding-md">
                  <a href={{href-to 'events.item' event.slug}}>
                    <div class="flex">
                      {{#if event.startAt}}
                        <aside class="date flex rounded bg-light color-blue stretch-xs" style="height: 75px; width: 75px; flex-direction: column; justify-content: center;">
                          <div class="align-center">
                            <h3 class="margin-none">{{moment-format event.startAt 'DD'}}</h3>
                          </div>
                          <div class="align-center">{{moment-format event.startAt 'MMM'}}</div>
                        </aside>
                      {{/if}}
                      <aside style="height: 75px; width: 75px; background-color: #9090b3"></aside>
                    </div>
                    <h4>{{event.title}}</h4>
                  </a>
                  <p>{{event.excerpt}}</p>
                  <a href={{href-to 'events.item' event.slug}} class="color-mid margin-bottom-sm">
                    More details...
                  </a>
                </div>
              </li>
            {{/each}}
          </ul>
          <div class="row">
            <div class="col xs12 end-xs">
              <a
                href={{href-to 'articles'}}
                class="
                button inline rounded
                padding-sm font-weight-bold
                color-white color-hover-darkest bg-blue-light bg-hover-yellow
                border-yellow border-hover-yellow-light-md
              ">
                MORE FIXTURES {{svg-jar 'caret-right' height='1em' width='1em' class='margin-left-xs'}}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{{/if}}
