<section class="section:latest-articles">
  <div class="container">
    <div class="row">
      <div class="col xs12">
        <div class="flex middle-xs">
          {{svg-jar 'bcfc-o' height="2rem" width="2rem" class='margin-right-xxs'}}
          <h3>Latest Articles</h3>
        </div>
        {{#if articles}}
          <ul class="row">
            {{#each articles as | article |}}
              <li class="panel col xs12 md margin-bottom-lg">
                <div class="rounded border-hover-md padding-md">
                  <a href={{href-to 'articles.item' article.slug}}>
                    <div>
                      <aside style="height: 75px; width: 75px; background-color: #F0F0FA"></aside>
                    </div>
                    <h4>{{article.title}}</h4>
                  </a>
                  <p class="margin-bottom-sm">{{article.excerpt}}</p>
                  <a href={{href-to 'articles.item' article.slug}} class="color-mid margin-bottom-sm">
                    Read more...
                  </a>
                </div>
              </li>
            {{/each}}
          </ul>
        {{/if}}
        <div class="row">
          <div class="col xs12 end-xs">
            <a
              href={{href-to 'articles'}}
              class="
              button inline rounded
              padding-sm font-weight-bold
              color-white color-hover-darkest bg-blue-light bg-hover-yellow
              border-yellow border-hover-yellow-light-md
            ">
              <span>MORE ARTICLES</span>
              {{svg-jar 'caret-right' height='1em' width='1em' class='margin-left-xs'}}
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
