<header>
  <div class="container padding-top-xl padding-bottom-xl">
    <div class="row">
      <div class="col xs12">
        <h5 class="color-mid">
          Event
        </h5>
        <h1>
          {{model.title}}
        </h1>
        <div class="flex middle-xs">
          <aside class="date flex rounded bg-light color-blue stretch-xs" style="height: 60px; flex-basis: 60px; flex-direction: column; justify-content: center;">
            <div class="align-center">
              <h4 class="margin-none">{{moment-format model.startAt 'DD'}}</h4>
            </div>
            <div class="align-center">{{moment-format model.startAt 'MMM'}}</div>
          </aside>
          <div class="padding-left-md" style="line-height: 1.5em">
            {{moment-format model.startAt 'DD MMM YYYY · HH:mm'}}
            {{#if model.location}}
              <br />
              <span>{{model.location}}</span>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col xs12 md10 offset-md1 lg8 offset-lg2 padding-top-lg">
        <h3>
          {{model.excerpt}}
        </h3>
      </div>
    </div>
  </div>
</header>

<section>
  <div class="container padding-bottom-xxl">
    <div class="col xs12 md10 offset-md1 lg8 offset-lg2">
      <article>
        <aside style="height: 380px; display: block; background-color: #F0F0FA"></aside>
        <br /><br />
        <Showdown @markdown={{model.content}} />
      </article>
    </div>
  </div>
</section>
