{{#if event}}
  <div class="last-match">
    <h4>Last Match - vs {{event.title}}</h4>
    <a href={{href-to 'events.item' event.slug}}>
      <div class="flex middle-xs">
        <aside style="height: 75px; width: 75px; background-color: #b6cc00" class="rounded:lg"></aside>
        <div class="padding-left-md">
          <h2>W 5-3</h2>
          <small>Read report...</small>
        </div>
      </div>
    </a>
  </div>
{{/if}}
